input,
textarea {
  outline: 0;
}

p {
  font-family: 'Philosopher', sans-serif;
}

@layer {
  .h-screen-256px {
    min-height: calc(100vh - 256px);
  }
  .h-screen-64px {
    height: calc(100vh - 64px);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* InfoWindow */
.info-window-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.info-window-text-row {
  display: flex;
  gap: 14px;
}

.info-window-title {
  font-weight: 700;
  font-size: 18px;
}

.info-window-text {
  font-size: 18px;
  line-height: 18px;
}

.info-window-media {
  display: flex;
  overflow-x: scroll;
  align-items: center;
}
